/* Footer */

#footer {
	padding: 6em 0 4em 0;
}

#footer>.inner {
	margin: 0 auto;
	width: 80em;
}

#footer .copyright {
	color: #676d71;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
}

#footer .copyright .icons {
	margin: 2em 0 0 0;
}

@media screen and (max-width: 1280px) {
	#footer>.inner {
		width: 65em;
	}
}

@media screen and (max-width: 980px) {
	#footer>.inner {
		width: 90%;
	}
}

@media screen and (max-width: 736px) {
	#footer {
		padding: 3em 0 1em 0;
	}
}