.nav-tabs>li>a:hover {
	border-radius: 4px 4px 4px 4px;
}

.cls_ul-index li a {
	font-size: 14px;
	letter-spacing: 0.5px
}

.cls_ul-index {
	border-bottom: 0px
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-radius: 4px;
}

.lol a {
	font-size: 14px
}

/* ----------------------------------------------------- */

.nav-tabs>li>a {
	font-size: 14px;
	font-weight: bold;
	color: #dadada;
	letter-spacing: 0.5px;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	/* border-radius: 4px 4px 0 0; */
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #dadada;
	cursor: default;
	/* padding: 9px; */
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: transparent;
	border: 1px solid gray;
	/* border-bottom-color: transparent; */
}

.nav-tabs>li.activ>a, .nav-tabs>li.activ>a:focus, .nav-tabs>li.activ>a:hover {
	color: #dadada;
	cursor: default;
	/* padding: 9px; */
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: transparent;
	/* border: 1px solid gray; */
	/* border-bottom-color: transparent; */
}

.cla_img_header {
	display: block;
	/* height: 450px; */
	height: 400px;
	width: 100%;
}

.cla_div_imgh {
	display: block;
	width: 100%;
}

.icon {
	height: 50px;
	border-radius: 50%;
	float: left;
	padding-right: 10px;
}

/* .cls_titlemain {
	text-align: center;
	padding-top: 2%;
	position: relative;
	bottom: 300px;
	font-size: 60px;font-family: Montserrat;
} */

.cls_titlemain {
	/* font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    padding-top: 2%;
    font-size: 69px;
    position: relative;
    bottom: 140; */
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	/* padding-top: 2%; */
	font-size: 90px;
	position: relative;
	/* bottom: 145;
		bottom: 170; */
	bottom: 239;
}

.cls_titlemain h1 {
	/* margin-bottom: 29px;
	font-size: 69px; */
	/* font-family: cabin; */
	margin-bottom: 29px;
	font-weight: bold;
	/* font-size: 68px; */
	letter-spacing: -.45rem;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	/* font-size: 1.0em; */
	font-size: 0.95em;
}

.cls_titlemain h4 {
	/* font-weight: bold; */
	/* font-family: Montserrat; */
	/* font-size: 21px; */
	font-size: 19px;
}

@media screen and (max-width: 700px) {
	/* menores a 700px */
	.cls_titlemain {
		/* font-family: "Segoe UI", Helvetica, Arial, sans-serif;
		padding-top: 2%;
		font-size: 69px;
		position: relative;
		bottom: 140; */
		font-family: "Segoe UI", Helvetica, Arial, sans-serif;
		/* padding-top: 2%; */
		font-size: 90px;
		position: relative;
		/* bottom: 145;
			bottom: 170; */
		bottom: 430;
	}
	.cls_titlemain h1 {
		font-weight: normal;
		font-size: 68px;
	}
}

@media only screen and (max-device-width: 480px) {
	.cla_img_header {
		display: block;
		height: 150px;
		width: 100%;
	}
	.cls_titlemain h1 {
		font-size: 55px;
	}
}