.cptn04 {
	width: 100%;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.cptn04 img {
	width: 100%;
	left: 0;
	top: 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.cptn04 .cptn {
	/* background: #333; */
	background: #0a2a66;
	width: 40%;
	height: 100%;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	left: -40%;
	overflow: auto;
	padding: 0 10px;
}
.cptn04 .cptn .fa {
	-wibkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border: 2px solid #fff;
	-wibkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 30px;
	position: relative;
	top: 30%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 30px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	width: 30px;
	opacity: 0.3;
}
.cptn04 .cptn .fa:hover {
	opacity: 1;
}
.cptn04 .cptn h3 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
}
.cptn04 .cptn p {
	color: #6a6a6a;
	font-size: 14px;
}
.cptn04:hover img {
	left: 40%;
}
.cptn04:hover .cptn {
	left: 0;
}