.box1 {
	display: inline-block;
	background: #333;
	/* background: #0a2a66; */
	width: 17%;
	margin: 5%;
	height: 200px;
	vertical-align: bottom
}

.box {
	border-radius: 3%;
	-moz-transform: translate(-15px, 38px) skew(-4deg, 0deg);
	-webkit-transform: translate(-15px, 38px) skew(-4deg, 0deg);
	-o-transform: translate(-15px, 38px) skew(-4deg, 0deg);
	-ms-transform: translate(-15px, 38px) skew(-4deg, 0deg);
	transform: translate(-15px, 38px) skew(-4deg, 0deg);
	width: 100%;
	border: 0.5px solid gray;
	height: 200px;
	padding: 10%;
	margin: auto;
}

.p {
	width: 100%;
	/* height: 202px */
	;
}

.box p {
	padding-top: 20px;
	padding-bottom: 40px;
	;
	margin: auto;
	font-size: 14px;
}

@media screen and (max-width: 700px) {
	.box1 {
		display: inline-block;
		/* background: #333; */
		width: 100%;
		margin: 0%;
		height: 200px;
		vertical-align: bottom;
	}
	.box {
		-moz-transform: translate(0px, 0px) skew(0deg, 0deg);
		-webkit-transform: translate(0px, 0px) skew(0deg, 0deg);
		-o-transform: translate(0px, 0px) skew(0deg, 0deg);
		-ms-transform: translate(0px, 0px) skew(0deg, 0deg);
	}
}

@media (min-width:700px) and (max-width: 900px) {
	/* mayor a x y menor a y */
	.box1 {
		width: 21%;
	}
}

@media (min-width:1024px) {
	/* mayor a px */
	.box1 {
		width: 15%;
	}
}

@media screen and (max-width: 475px) {
	/* mayor a px */
	.box {
		-moz-transform: translate(0px, 0px) skew(0deg, 0deg);
		-webkit-transform: translate(0px, 0px) skew(0deg, 0deg);
		-o-transform: translate(0px, 0px) skew(0deg, 0deg);
		-ms-transform: translate(0px, 0px) skew(0deg, 0deg);
	}
}

/* .box1.fa{text-align: center;} */