/* scroll bar principal */
     
.body_main {

	-webkit-overflow-scrolling: touch;
}

.body_main:hover {
	overflow: auto;
}

.body_main::-webkit-scrollbar {
	width: 12px;
}

.body_main::-webkit-scrollbar-track {
	/* background: #555555; */
	background: #121212;

}

.body_main::-webkit-scrollbar-thumb {
	background: 	#999999;
	/* background: black; */

}



/* #1c1e21; */

/* isaias cajon background: #1c1c00;
margin-top: 9px; */

/* .cls_background {background: #121212;} */

/* ------------------------------------------------------ */

.margintop_menu_header {
	width: 260px;
	/* background-color: #f1f1f1; */
	background-color: black;
	overflow: auto;
	/* padding: 5px 1px; */
	padding: 15px 1px;
	border-right: 0.3px solid #333;
}

.box_empty_menu {
	height: 70px;
	border-right: 0.3px solid #333
}

.img_close {
	display: none;
}

@media screen and (max-width: 900px) {
	.margintop_menu_header {
		margin-top: 0px;
		
	}
	.box_empty_menu {
		display: none;
	}
	.img_close {
		display: inline-block;
		background: #dadada;
		margin-right: 2px;
		opacity: 0.7;
		position: relative;
		cursor: pointer;
		vertical-align: text-top;
		right: -100px;
	}
}

.cls_tablero_header {
	width: 260px;
	border-right: 0.3px solid #333;
	padding-left: 0px;
	/* background-color: #888888; */
	background-color: #121212;
	text-align: center;
	line-height: 45px;
	height: 45px
}

.exercisemenu {
	/* font-family: "Segoe UI",Helvetica, Arial, sans-serif; */
	font-family: Montserrat;
	float: left;
	z-index: 2;
	color: #ffffff;
	height: auto;
	width: auto;
	display: none;
	/* background-color: #888888; */
	background-color: black;
	position: fixed;
}


.exercisemenuinner {
	background-color: black;
	/* background-color: #121212; */
	border-right: 0.3px solid #333;
	position: fixed;
	height: 100%;
	width: 260px;
	overflow: hidden;
	/* padding: 0 1px 50px 1px; */
	padding: 0 1px 50px 10px;
	-webkit-overflow-scrolling: touch;
}

.exercisemenuinner:hover {
	overflow: auto;
}

.exercisemenuinner::-webkit-scrollbar {
	width: 12px;
}

.exercisemenuinner::-webkit-scrollbar-track {
	background: #555555;
}

.exercisemenuinner::-webkit-scrollbar-thumb {
	background: #999999;
}

/*  */

@media screen and (min-width: 900px) {
	.codecontainer {
		width: 49%;
		height: 99%;
	}
	#topTD, #topTD2 {
		padding-left: 260px;
		/* padding-left: 280px; LO CAMBIÉ*/
	}
	#codeTD, #codeTD2 {
		padding-left: 280px;
	}
	.exercisemenu {
		/* CLASE PARA QUE MENU IZQUIERDO SE VEA AL CARGAR PAGE */
		height: 100%;
		width: 260px;
		display: block;
	}
	#tryitLeaderboard {
		padding-left: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 899px) {
	#codeTD, #codeTD2 {
		padding: 20px 20px 20px 20px !important;
	}
	div.exercisemenu {
		display: none;
	}
}

#menubtn {
	font-size: 21px;
	color: #555555;
	border: 1px solid transparent;
	position: absolute;
	z-index: 1;
	width: auto;
	cursor: pointer;
	padding: 15px;
	right: 10px;
	/* left: 10px; */
}

#menubtn:hover {
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
}

.exercisemenu a.exbtn {
	display: block;
	text-decoration: none;
	padding: 10px 0 10px 20px;
	background-color: #ffffff;
	color: #555555;
	font-size: 14px;
}

.exercisemenu a.exbtn:hover {
	background-color: #f1f1f1;
}

div.exmenulinks a.active {
	background-color: #4CAF50 !important;
	color: #ffffff;
}

.exercisemenu a.exbtn i.fa-square-o {
	color: rgba(244, 67, 54, 0.8);
}

.exercisemenu a.exbtn i.fa-check {
	color: #4CAF50;
	visibility: hidden;
}

.exercisemenu a.exbtn i.fa-check.active {
	color: #ffffff;
	visibility: hidden;
}

.exercisemenuinner i.fa-check {
	visibility: hidden;
}

.menubtn {
	font-size: 24px;
	color: #777777;
	padding: 1px 6px 2px 6px;
	width: auto;
	xposition: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.menubtn:hover {
	color: #000000;
}

.tooltip {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	width: auto;
	padding: 5px 10px;
	word-spacing: normal;
	font-size: 14px;
	display: none;
	top: 45px;
	z-index: 10;
}

.exmenuitemheader {
	font-family: varela;
	letter-spacing: 0.5px;  
	color: #dadada;
	padding: 10px;
	font-weight: bold;
	padding-left: 20px;
	cursor: pointer;
	font-size: 13px;
	/* border-bottom: 1px solid #4f4f4f; */
	/* border-bottom: 0.2px solid #333; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.exmenuitemheader:hover {
	color: #ffffff;
}

.exmenuitemheader.active {
	color: #ffffff;
}

.exmenulinks {
	height: 0px;
	overflow: hidden;
	webkit-transition: all 0.3s ease;
	moz-transition: all 0.3s ease;
	o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.exmenulinks.active {
	height: auto;
}

@keyframes fb_transform {
	from {
		opacity: 0;
		transform: scale(.95)
	}
	to {
		opacity: 1;
		transform: scale(1)
	}
}

/*  */

@keyframes rotateSpinner {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

/* ---------------------------------------------------------------------------------- */

@media screen and (max-width: 899px) {}

@media screen and (max-width: 750px) {
	.img_close {
		right: -135px;
	}
	.phonebr {
		display: initial;
	}
	.exmenuitemheader {
		font-size: 18px;
		border-bottom: 0.3px solid #333;
		font-weight: normal;
	}
	.exercisemenu a.exbtn {
		font-size: 16px
	}
	.exercisemenuinner {
		background-color: #202020;
		border-bottom: 0.3px solid #333;
		width: 300px;
	}
	.cls_tablero_header {
		width: 300px;
	}
	.margintop_menu_header {
		width: 300px;
		padding: 5px 1px;
	}
}

@media (max-width:899px) {
	.hide-from-small {
		display: none !important
	}
}

@media (min-width:900px) {
	.hide-from-large {
		display: none !important
	}
}

/* @media only screen and (max-device-width: 480px) { */

/* .exercisemenu a.exbtn {
	
		font-size: 26px;
	} */

/* 	
#menubtn {
	right: 10px;
	/* left: 10px; */

/* } */

/* } */